/**
 * @name ExaTheme
 * @author Exánime
 * @version 1.0
 * @description ExaTheme.
 * @authorLink https://github.com/ll-Exanime-ll
 * @website https://discord-exabot.glitch.me/
 * @source https://github.com/ll-Exanime-ll/DiscordBetter
 * @donate paypal.me/ExanimeTV
 * @updateUrl https://raw.githubusercontent.com/ll-Exanime-ll/DiscordBetter/main/Themes/ExaTheme.css
 */	

/* ExaTheme */
@import "https://raw.githubusercontent.com/ll-Exanime-ll/DiscordBetter/main/Themes/src/ExaTheme.css";

/* BetterBadges */

@import url('https://mr-miner1.github.io/Better-Badges/src/badges.css');
:root{
    --badge-size: 22px; /*discord defualt = 18px, theme defualt = 22px;*/
    --badge-margin: 1.5px; /*discord default = 2px, theme defualt = 1.5px*/
    --badges-everywhere-size: 15px; /*default = 15px*/
}

/* Discord colors */
@import "https://nyri4.github.io/Discolored/main.css";
@import url('https://nyri4.github.io/donators/donators.css');
