/**
 * @name MyCSS
 * @author Exánime
 * @description discord my way.
 * @version 2.0
 * @authorId 508291139821109278
 * @updateUrl 
 */	

/* Remove give away nitro */

.buttons-3JBrkn > .button-38aScr > :not(.translateButton-DhP9x8) {display: none}

/* Modify the emoji */

.sprite-2iCowe {
background-position: 0 !important;
background-size: contain !important;
filter: grayscale(0) !important;
background-image: url(https://i.ibb.co/M7wZwtj/leyendas.png);
}

/* Hide icons in text and voice channel */

.children-3rEycc {
display: none;
}

/* settings/deafen/mute buttons animated */
.button-12Fmur:hover .contents-3ca1mk {animation: UserModalButtons 0.5s normal ease;}
  .container-YkUktl .noWrap-hBpHBz {width: 100px;opacity: 1;}
  .button-12Fmur {transition: 0.2s;}
  .button-12Fmur:hover {padding-bottom: 0px;transition: 0.2;}
  @keyframes UserModalButtons {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0px);
    }
  }

/* Rainbow User ID */
.subtext-2HDqJ7,
.customStatus-1UAQAK,
.hovered-20u3oh,
.title-338goq {
    background-image: linear-gradient(to left,rgb(51, 255, 0), rgb(255, 230, 0), red, rgb(234, 0, 255), rgb(0, 140, 255), rgb(51, 255, 0));
    animation: gradient-border 4s linear infinite;
    background-size: 400% 100%;
    color: transparent !important;
    -webkit-background-clip: text;
    z-index: 1;
}
@keyframes gradient-border {
from {
  background-position: 0 0;
}
to {
  background-position: 100% 0;
}
}

/* Icon Discord animated */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-20deg);
    }
    70% {
        transform: rotate(380deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pill-L_aLMQ.bd-selected + .listItemWrapper-3d87LP .homeIcon-r0w4ny {
    animation: spin 0.8s ease;
}
